section.keyboard-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

section.keyboard-elements > button {
  color: var(--color-text-keyboard);
  border: 1px solid var(--color-border-keyboard);
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 600;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

section.keyboard-elements > button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

section.keyboard-elements > button.default {
  background-color: var(--color-keyboard-default);
}

section.keyboard-elements > button.correct {
  background-color: var(--color-keyboard-correct);
}

section.keyboard-elements > button.wrong {
  background-color: var(--color-keyboard-wrong);
}
