:root {
    --site-background-color: #deefcf1a;
    --site-background-transparent-color: #deefcf00;
    --hero-main-text-color: #326035;
    --hero-secondary-text-color: #2d5330;
    --main-dark-green: #326035;
    --main-light-green: #ceffd5;
    --main-lighter-black: #425644;
    --main-green-transparent: #ceffd585;
    --default-border-radius: 10px;
    --white-spacer: 50px;
}

body {
    margin: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--site-background-color);
}

#hero-section {
    background-image: url("images/asheville.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 110px 0;
    text-align: center;
}

#hero-section h1 {
    color: var(--hero-main-text-color);
    font-size: 35px;
}

#hero-section h3 {
    color: var(--hero-secondary-text-color);
    font-size: 16px;
}

#hero-section h1,
#hero-section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 2px #ffffff6e;
}

.transparent-box {
    padding: 5px 14px;
    border-radius: var(--default-border-radius);
    background-color: var(--main-green-transparent);
    box-shadow: 0 0 14px 0px var(--main-green-transparent);
    max-width: 70%;
}

#activities-section {
    border-top: 2px solid black;
    padding: var(--white-spacer) 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(var(--main-light-green), var(--site-background-transparent-color));
}

#activities-section h3 {
    margin: 0 0 var(--white-spacer) 0;
    font-size: 27px;
    color: var(--main-dark-green);
}

#activities-wrapper {
    display: flex;
    justify-content: space-between;
}

.activity-card {
    width: 29%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.activity-card img {
    width: 85%;
    border-radius: 50%;
    border: 2px solid var(--main-dark-green);
    box-shadow: 0 0 14px 0px var(--main-dark-green);
}

.activity-card h4 {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: var(--main-dark-green);
}

.activity-card p {
    margin: 0;
    font-size: 16px;
    color: var(--main-lighter-black);
}

#guide-section {
    margin-top: 20px;
    padding: var(--white-spacer) 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.guide-card {
    background-color: var(--main-light-green);
    color: var(--main-dark-green);
    padding: 25px;
    width: 100%;
    max-width: 450px;
    display: flex;
    border-radius: var(--default-border-radius);
}

.guide-details {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.guide-card img {
    border-radius: var(--default-border-radius);
    width: 40%;
    object-fit: cover;
    object-position: 45%;
}

.guide-details h3 {
    font-size: 25px;
}

.guide-details h4 {
    font-size: 20px;
}

.guide-details p {
    font-size: 15px;
}