:root {
    --site-background-color: #deefcf83;
    --hero-main-text-color: #326035;
    --hero-secondary-text-color: #2d5330;
    --main-dark-green: #326035;
    --main-light-green: #ceffd5;
    --main-lighter-black: #425644;
    --main-green-transparent: #ceffd585;
    --default-border-radius: 10px;
    --white-spacer: 30px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--site-background-color);
    gap: var(--white-spacer);
}

#hero-section {
    background-image: url("images/asheville.webp");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 110px 0;
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    text-align: center;
}

#hero-section h1 {
    color: var(--hero-main-text-color);
    font-size: 35px;
}

#hero-section h3 {
    color: var(--hero-secondary-text-color);
    font-size: 16px;
}

#hero-section h1,
#hero-section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 0 2px #ffffff6e;
}

.transparent-box {
    padding: 5px 14px;
    border-radius: var(--default-border-radius);
    background-color: var(--main-green-transparent);
    box-shadow: 0 0 14px 0px var(--main-green-transparent);
    max-width: 70%;
}

#activities-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#activities-section h3 {
    margin: 0 0 var(--white-spacer) 0;
    font-size: 23px;
    color: var(--main-dark-green);
}

#activities-wrapper {
    display: flex;
    justify-content: space-between;
}

.activity-card {
    width: 29%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.activity-card img {
    width: 75%;
    border-radius: 50%;
}

.activity-card h4 {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: var(--main-dark-green);
}

.activity-card p {
    margin: 0;
    font-size: 16px;
    color: var(--main-lighter-black);
}