section.game-status {
  border-radius: var(--border-radius);
  width: 90%;
  font-weight: 500;
  text-align: center;
  padding: 0.4rem;
  color: var(--color-text-status);
  min-height: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.game-status > h2 {
  font-size: 1.25rem;
}

section.game-status > p {
  font-size: 1rem;
}

.win {
  background-color: var(--color-status-win);
}

.lose {
  background-color: var(--color-status-lose);
}

.wrong {
  background-color: var(--color-status-wrong);
}
