section.language-chips {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

section.language-chips > span {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  font-weight: 700;
  font-size: 0.85rem;
  position: relative;
}

/* Dimmed overlay with skull on "lost" languages */
section.language-chips > span.lost::before {
  content: "💀";
  border-radius: var(--border-radius);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
