*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background: var(--color-background-app);
  font-family: "Hanken Grotesk", Arial, sans-serif;
  height: 100vh;
  padding: 4rem 2rem;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
