*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background: var(--color-background-app);
  font-family: "Hanken Grotesk", Arial, sans-serif;
  padding: 2.5rem 2rem;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
