:root {
  /* General Colors */
  --color-dark: #282726;

  /* Background Colors */
  --color-background: var(--color-dark);

  /* Text Colors */
  --color-text-game-title: #f9f4da;
  --color-text-game-description: #8e8e8e;
}
