header {
  text-align: center;
  max-width: 80%;
  font-weight: 500;
}

header > h1 {
  font-size: 1.25rem;
  color: var(--color-text-game-title);
}

header > p {
  margin-top: 0.2rem;
  font-size: 0.875rem;
  color: var(--color-text-game-description);
  line-height: 1.4;
}
