*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-areas:
    "head"
    "main"
    "foot";
  min-height: 100vh;
  font-family: "Source Sans 3", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Main Site Layout Sections */

header {
  grid-area: head;
  background-color: var(--bg-color-header);
  padding: 1.05rem 0; /* Vertical padding */
}

main {
  grid-area: main;
  background-color: var(--bg-color-main);
  padding: 1.5rem 0; /* Vertical padding */
}
footer {
  grid-area: foot;
  background-color: var(--bg-color-footer);
  padding: 1.2rem 0; /* Vertical padding */
}

/* Utility Selectors */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.3rem; /* Horizontal padding */
}
