*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-areas:
    "head"
    "main"
    "foot";
  min-height: 100vh;
  font-family: "Source Code Pro", serif;
}

/* Utility Selectors */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.3rem; /* Horizontal padding */
}

/* ! Move out later */

main {
  grid-area: main;
  background-color: lightgray;
}
footer {
  grid-area: foot;
  background-color: darkslategrey;
}
