/* Global Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font Import */

/* ! Fix later, import only used weights */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* Global Styles */

body {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-areas:
    "head"
    "main"
    "foot";
  min-height: 100vh;
}

/* Utility Selectors */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.3rem; /* Horizontal padding */
}

/* ! Move out later */

main {
  grid-area: main;
  background-color: lightgray;
}
footer {
  grid-area: foot;
  background-color: darkslategrey;
}
