*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-areas:
    "head"
    "main"
    "foot";
  min-height: 100vh;
}

header {
  grid-area: head;
  background-color: white;
  padding: 10px 0; /* Vertical padding */
}

main {
  grid-area: main;
  background-color: lightgray;
}

footer {
  grid-area: foot;
  background-color: darkslategrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Horizontal padding */
}
